@charset "utf-8";
/* CSS Document */


.content .man .title{background-color: #f7f7f7; }
.content .man .title h3{font-size: 26px;line-height: 40px; margin-left: 2%;}
.content .man .text{ background-image:url(../images/biankuang.png); background-repeat: no-repeat; width: 360px;height: 222px; margin-top: 2%;margin-left: 2%;}
.content .man .nav{ margin-top: 10%; }
.content .man .nav p{width: 260px; margin: 2% 9%;}
.content .man .text2{width: 360px;height: 222px; border: 1px solid #e1e1e1;background-image:url(../images/fuhao.png);background-repeat: no-repeat; background-position: center; 
					margin-top: 2%; margin-left: 6%; cursor:pointer;}
.content .man .text2 p{position: relative;margin-left: 42%; margin-top: 43%;}
.content .man .nav .col-md-offset-1 p{color:#00dbff;}
.content .min .btn-group{margin-left:89%;}
.content .min .btn-danger{border:none; background-color:#ffffff; color:#000000; }
.content .min .list{line-height:56px;background-color:#f7f7f7;font-size:18px;}
.content .min .list span{margin-left:45%;}
.content .min .product{ border:1px solid #f7f7f7; margin:5% 0;height:160px;}
.content .min .product img{ margin:6% 0; }
.content .min .product p{margin:67px 0;}
.content .min .product span{margin:26px 0;color:#00dbff;}
.content .min .btn-group1{margin-left:25%;}
.content .min .product{margin: 0% 0% 30%;}
.content .min .product .on{font-size:24px;color:#e72828;}
.content .min .product .caret{color: #000000;}
.content .min .product label{border:1px solid #f7f7f7;line-height:40px;width:1200px; margin: 3px 0;}
.content .min .product .mas p{ color: #666666; font-size: 16px; margin-top: 0%; }
.content .min .product .mas label{height: 40px;}
.content .min .product .col-md-5{margin-top: 3%;line-height: 80px;}
.content .min .product .col-md-5 p{font-size: 30px; margin-top:-13px; color:#e64346; }
.content .min .product .col-md-5 span{font-size: 30px; border: 1px solid #e64346; width: 180px; line-height: 80px; background-color:#e64346; color: #ffffff;
										margin-left: -2%; }
