@charset "utf-8";
/* CSS Document */
.header .menu .col-md-4 img{ padding: 5% 2%; }

.content h3{font-size: 30px; margin-left: 33%;}
.content input{width: 485px;line-height: 48px; padding: 0 3%; margin: 10% 0;border-radius: 5px;}
.content .col-md-4 a{ display: block; width: 485px;line-height: 48px; border: 1px solid #ffffff; text-align: center;font-size: 28px;
				background-color: #00a2ff;color: #ffffff;border-radius: 5px; margin: 7% 0 16%; text-decoration: none;color: }

.content .text2:hover a{text-decoration: none;color: #ffffff;}
.content .text3{margin-left: 8%;}
.content .col-md-3 img{margin-left: 126%; margin-top: 50%;}


.footer{ background-color: #f3f3f3; padding: 1% 0;}
.footer span{ padding: 0 30%;line-height: 40px;  }