@charset "utf-8";
/* CSS Document */

.content .news .title{ border-bottom:5px solid #f2f2f2; }
.content .news .title h3{font-size:36px; text-align:center; color:#00c1e0; margin-top:-4%;}
.content .news .title span{ margin-left:35%; font-size:16px; line-height:65px; }
.content .news-man{ overflow:hidden; }
.content .news-man h4{ font-size:26px;text-align:center; line-height:40px; }
.content .news-man p{ line-height:40px;font-size:20px; text-indent:2em; }
.content .news-man .col-md-4 span{ font-size:20px; line-height:110px;  }
.content .news-man span:hover{color:#00c1e0;}