@charset "utf-8";
/* CSS Document */

.content .cc{width: 1200px; line-height: 55px; background-color: #f7f7f7; display: block;border: 1px solid #f7f7f7;border-radius: 5px;margin-bottom: 3%;}
.content .nav{border: 1px solid #f7f7f7;border-radius: 5px; width: 1200px;margin-left: -1%;margin-bottom: 3%; padding: 1% 0;}
.content .min{border: 1px solid #f7f7f7;border-radius: 5px; width: 1200px;margin-left: -1%;margin-bottom: 3%;padding: 1% 0;}
.content .min span{color: #00dbff;}
.content .list{border: 1px solid #f7f7f7;border-radius: 5px; width: 1200px;margin-left: -1%;margin-bottom: 3%;padding: 1% 0;}
.content .list p{margin-top: 50px;}
.content .list span{margin-top: 50px; color: #e30000;display: block;}
.content .list img{margin-top: 15px;}
