@charset "utf-8";
/* CSS Document */

.content .cc{width: 1200px; line-height: 32px; background-color: #f7f7f7; display: block;border: 1px solid #f7f7f7;border-radius: 5px;margin-bottom: 3%;}
.content .cc .btn-danger{border:none; background-color:#f7f7f7; color:#00a5ff; }
.content .nav{border: 1px solid #f7f7f7;border-radius: 5px; width: 1200px;margin-left: -1%;margin-bottom: 3%; padding: 1% 0;}
.content .min .col-md-2 a{ width: 165px;line-height: 45px;text-decoration: none;color: #000000;background-color:#ffffff;text-align: center;display: block;
							font-size: 18px;}
.content .min .on a	{background-color: #00a5ff;color: #ffffff;text-decoration: none;}						
.content .min .col-md-2:hover a{background-color: #00a5ff;color: #ffffff;text-decoration: none;}
.content .nav span{color: #00dbff;}
.content .list{margin-bottom: 9%}
.content .list img{border: 1px solid #f7f7f7;display: block; text-align: center;padding: 10px 20px; margin: 37% 0;}
.content .list .text img{border: 1px solid #f7f7f7;display: block; text-align: center;padding: 7px 20px; margin: 37% 0;}
.content .list img:hover{border-color:#00a5ff; }
.content .list p{margin-top: 108%;font-size: 16px;font-weight: bold;}

.content .list .col-md-3{margin-top: 5%;}
.content .list .col-md-4 p{color: #e64346;font-size: 30px; margin-top: 12%;}
.content .list .col-md-4 span{display: block; width: 180px;line-height: 80px;background-color:#e64346;
								color: #ffffff;font-size: 30px;text-align: center; }

