@charset "utf-8";
/* CSS Document */
.header{margin: 0 auto; overflow: hidden;}
.header .header-top{ background: #f3f2ef;  overflow: hidden;}
.header .top-menu li{list-style-type: none;float:left; padding: 1% 4%;
    line-height: 100%; border-left: 1px solid #333333; } 
.header .top-menu li:nth-child(1){ border: none; } 
.header .top-menu li:nth-child(5){ border: none; }
.header .top-menu li a{  color: #333333; text-align: center; text-decoration: none;}
.header .menu{ background-color:  #ffffff; overflow: hidden; }
.header .menu .col-md-4 img{ padding: 5% 2%; }
.header .menu .col-md-8 li{list-style-type: none;float:left;padding: 5% 4%; }
.header .menu .col-md-8 li a{ color: #333333; font-size: 20px; text-decoration: none; }
.header .menu .col-md-8 li:hover a{color: #00dbff;}


.banner { overflow: hidden; }
.banner img{ width: 100%; }


.content{overflow: hidden;}
.content .beijing{width: 100%; margin-top: -6%;} 


.content .title{border-bottom:5px solid #f2f2f2;}
.content .title .col-md-2 h3{ font-size: 36px; margin-top:-27%;}
.content .title .col-md-2 h3:hover{background-image:url(images/tubiao6.png); background-position:center;
									background-repeat:no-repeat; color:#44d5ff;}

.content .product-man{ margin-top: 3%; }
.content .text{ border: 1px solid #c5b9b9; width: 525px; height: 548px; margin-left: 3%;}
.content .text h4{ margin-top: 9%; }
.content .text p{line-height: 33px; font-size: 18px; color:#707070;}
.content .nav{ margin-top: 54%; margin-bottom: 5%; } 
.content .nav h2{margin-left: 20%;font-size: 44px; margin-top: 13%;}
.content .nav p{margin-left: 20%; font-size: 24px;}


.footer img{ width: 100%; margin-bottom: -4%;  }
.footer .top{ background: #f3f2ef;}
.footer .top .list{font-size: 20px; line-height: 20px; margin-top: 5%;}
.footer .top .col-md-6{margin-top: 10%;}
.footer .top .list .col-md-12:hover{color: #38d3ff;}
.footer .top .col-md-6 p{font-size: 20px; line-height: 52px;}
.footer .top .col-md-12{ padding: 5% 0; }
.footer .top li{ float: left; list-style-type: none; padding: 6% 0 0 15%;}
.footer .top li p{ text-align: center; }
.footer .top h4{ margin-top: 10% ; text-align: center;}
.footer .bottom{ background: #ccc9ba; padding: 1% 0; }
.footer .bottom span{ padding: 0 30%; }