@charset "utf-8";
/* CSS Document */
.header .menu .col-md-4 img{ padding: 5% 2%; }
.content{margin-top: 4%;}
.content .col-md-6{margin-bottom: 8%;}
.content h3{font-size: 30px; margin-left: 33%;}
.content h4{margin-left: 60%;font-size: 16px;}
.content span{color: #00a2ff;}
.content input{width: 485px;line-height: 48px; padding: 0 3%; margin: 3% 0;border-radius: 5px;}
.content button{margin-top: -20%;margin-left: 72%;border-color: #00a2ff;color: #00a2ff;}
.content .col-md-6 a{ display: block; width: 485px;line-height: 48px; border: 1px solid #ffffff; text-align: center;font-size: 28px;
				background-color: #00a2ff;color: #ffffff;border-radius: 5px; margin: 7% 0 16%; text-decoration: none;color: }
.content .checkbox{margin-top: -10%;}				
.content .checkbox input{width: 20px;}


.footer{ background-color: #f3f3f3; padding: 1% 0;}
.footer p{ padding: 0 30%;line-height: 40px;  }