@charset "utf-8";
/* CSS Document */


.content .title{border-bottom:5px solid #f2f2f2;}
.content .title .col-md-2 h3{ font-size: 36px; margin-top:-27%;}
.content .title .col-md-2 h3:hover{background-image:url(images/tubiao6.png); background-position:center;
									background-repeat:no-repeat; color:#44d5ff;}